body {
    background-color: black !important;
  }
  
  .gifs {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gif {
    padding: 2px 2px;
  }
  
  .loader {
    color: blue;
  }
  